
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai1</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>danh sach cac muc lien ket
                <ol>
                    <li>
                    <li>
                    <li>
                </ol>
            </td>
            <td>
                <table border="1">
                    <tr>
                        <td colspan="2">logo</td>
                    </tr>
                    <tr>
                        <td rowspan="2">Noi dung 1
                            <table>
                                <tr>
                                    <th rowspan="2">
                                        <img src="~/Content/image/b1.png" />
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>
                                            <li>
                                            <li>
                                        </ol>
                                    </td>
                                </tr>
                            </table>
                        </td>
                        <td>
                            Noi dung 2
                            <ul>
                                <li>
                                <li>
                                <li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <table>Noi dung 3
                                <tr>
                                    <th rowspan="2">
                                        <img src="~/Content/image/b1.png" />
                                    </th>
                                </tr>
                                <tr>
                                    <td>
                                        <ol>
                                            <li>
                                            <li>
                                            <li>
                                        </ol>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>
