
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai3</title>
</head>
<body>
    <h1>1</h1>
    <div id="header" style="text-align: center;
        height: 50px; width: 250px;
        background-color:white; border-block-start:solid; border-block-end:solid; border-inline:solid">
    </div>

    <div id="nav" style="text-align: center;
       height: 150px; width: 48px;
       float:left; border-block-end:solid;border-inline:solid">
    </div>

    <div id="nav" style="text-align: center;
      height: 150px; width: 200px;
      float:left; border-block-end:solid; border-right:solid">
    </div>


    <br /><br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br />
    <h1>2</h1>
    <div id="header" style="text-align: center;
         height: 50px; width: 250px;
         background-color:white; border-block-start:solid; border-block-end:solid; border-inline:solid">
    </div>
    <div id="nav" style="text-align: center;
         height: 150px; width: 200px;
         float:left; border-block-end:solid;border-inline:solid">
    </div>
    <div id="nav" style="text-align: center;
         height: 150px; width: 48px;
         float:left; border-block-end:solid; border-right:solid">
    </div>

    <br /><br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br />
    <h1>3</h1>
    <div id="header" style="text-align: center;
         height: 50px; width: 250px;
         background-color:white; border-block-start:solid;
         border-block-end:solid; border-inline:solid">
    </div>
    <div id="nav" style="text-align: center;
         height: 150px; width: 200px;
         float:left; border-block-end:solid; border-inline:solid">
    </div>
    <div id="nav" style="text-align: center;
         height: 150px; width: 48px;
         float:left; border-block-end:solid; border-right:solid">
    </div>

    <div id="footer" style="text-align: center; clear:both; height: 50px;
         width: 250px; border-block-end:solid; border-inline:solid">
    </div>

    <br /><br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br />
    <h1>4</h1>
    <div id="header" style="text-align: center;
       height: 50px; width: 250px;
       background-color:white; border-block-start:solid; border-block-end:solid; border-inline:solid">
    </div>
    <div id="header" style="text-align: center;
       height: 30px; width: 250px;
       background-color:white; border-block-end:solid; border-inline:solid">
    </div>
    <div id="nav" style="text-align: center;
          height: 150px; width: 48px;
          float:left; border-block-end:solid;border-inline:solid">
    </div>
    <div id="nav" style="text-align: center;
         height: 150px; width: 200px;
         float:left; border-block-end:solid; border-right:solid">
    </div>

    <br /><br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br />
    <h1>5</h1>
    <div id="header" style="text-align: center;
         height: 50px; width: 250px;
         background-color:white; border-block-start:solid; border-block-end:solid; border-inline:solid">

        <div id="nav" style="text-align: center; border-inline-end:solid;
             height: 50px; width: 150px;">
        </div>
    </div>
    <div id="header" style="text-align: center;
         height: 30px; width: 250px;
         background-color:white; border-block-end:solid; border-inline:solid">
    </div>
    <div id="nav" style="text-align: center;
         height: 150px; width: 48px;
         float:left; border-block-end:solid;border-inline:solid">
    </div>
    <div id="nav" style="text-align: center;
         height: 150px; width: 200px;
         float:left; border-block-end:solid; border-right:solid">
    </div>

    <br /><br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br />
    <h1>6</h1>
    <div id="header" style="text-align: center;
        height: 50px; width: 250px;
        background-color:white; border-block-start:solid; border-block-end:solid; border-inline:solid">
        <div id="nav" style="text-align: center; border-inline-end:solid;
             height: 50px; width: 100px;">
        </div>
    </div>
    <div id="nav" style="text-align: center;
         height: 150px; width: 48px;
         float:left; border-block-end:solid; border-left:solid">
    </div>
    <div id="nav" style="text-align: center;
         height: 150px; width: 149px;
         float:left; border-block-end:solid;border-inline:solid">
    </div>

    <div id="nav" style="text-align: center;
         height: 150px; width: 48px;
         float:left; border-block-end:solid; border-right:solid">
    </div>

    <div id="footer" style="text-align: center; clear:both;  height: 50px;
         width: 250px; border-block-end:solid; border-inline:solid">
    </div>
</body>
</html>
