
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Bai4</title>
</head>
<body>
    <h1>1</h1>
    <header style="text-align: center;
            height: 50px; width: 250px;
            background-color:white; border-block-start:solid; border-block-end:solid; border-inline:solid">
    </header>
    <nav style="text-align: center;
         height: 150px; width: 48px;
         float:left; border-block-end:solid;border-inline:solid">
    </nav>
    <section style="text-align: center;
             height: 150px; width: 200px;
             float:left; border-block-end:solid; border-right:solid">
    </section>

    <br /><br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br />
    <h1>2</h1>
    <header style="text-align: center;
            height: 50px; width: 250px;
            background-color:white; border-block-start:solid; border-block-end:solid; border-inline:solid">
    </header>
    <nav style="text-align: center; height: 150px; width: 200px;
         float: left; border-block-end: solid; border-inline: solid">
    </nav>
    <section style="text-align: center; height: 150px; width: 48px;
             float: left; border-block-end: solid; border-right: solid">
    </section>

    <br /><br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br />
    <h1>3</h1>
    <header style="text-align: center;
            height: 50px; width: 250px;
            background-color:white; border-block-start:solid; border-block-end:solid; border-inline:solid">
    </header>
    <nav style="text-align: center; height: 150px; width: 200px;
         float: left; border-block-end: solid; border-inline: solid">
    </nav>
    <section style="text-align: center; height: 150px; width: 48px;
         float: left; border-block-end: solid; border-right: solid">
    </section>
    <footer style="text-align: center; clear:both;  height: 50px;
            width: 250px; border-block-end:solid; border-inline:solid">
    </footer>

    <br /><br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br />
    <h1>4</h1>
    <header style="text-align: center;
         height: 50px; width: 250px;
         background-color:white; border-block-start:solid; border-block-end:solid; border-inline:solid">
    </header>
    <header style="text-align: center;
            height: 30px; width: 250px;
            border-block-end:solid; border-inline:solid">
    </header>
    <nav style="text-align: center;
         height: 150px; width: 48px;
         float:left; border-block-end:solid;border-inline:solid">
    </nav>
    <section style="text-align: center;
             height: 150px; width: 200px;
             float:left; border-block-end:solid; border-right:solid">
    </section>

    <br /><br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br />
    <h1>5</h1>
    <header style="text-align: center;
            height: 50px; width: 250px;
            background-color:white; border-block-start:solid;
            border-block-end:solid; border-inline:solid">
            <nav style="text-align: center; border-inline-end:solid;
                 height: 50px; width: 150px;">
            </nav>
    </header>
    <header style="text-align: center;
            height: 30px; width: 250px;
            border-block-end:solid; border-inline:solid">
    </header>
    <nav style="text-align: center;
         height: 150px; width: 48px;
         float:left; border-block-end:solid;border-inline:solid">
    </nav>
    <section style="text-align: center;
             height: 150px; width: 200px;
             float:left; border-block-end:solid; border-right:solid">
    </section>

    <br /><br /> <br /> <br /><br /> <br /> <br /><br /> <br /><br />
    <h1>6</h1>
    <header style="text-align: center;
            height: 50px; width: 250px;
            background-color:white; border-block-start:solid; border-block-end:solid; border-inline:solid">
        <nav style="text-align: center; border-inline-end:solid;
             height: 50px; width: 100px;">
        </nav>
    </header>
    <nav style="text-align: center;
         height: 150px; width: 48px;
         float:left; border-block-end:solid; border-left:solid">
    </nav>
    <section style="text-align: center;
             height: 150px; width: 149px;
             float:left; border-block-end:solid;border-inline:solid">
    </section>

    <nav style="text-align: center;
         height: 150px; width: 48px;
         float:left; border-block-end:solid; border-right:solid">
    </nav>
    <footer style="text-align: center; clear:both;  height: 50px;
            width: 250px; border-block-end:solid; border-inline:solid">
    </footer>
</body>
</html>
